body {
  padding-top: 80px;
}
.navbar-collapse {
  float: left;
}
.navbar-header .navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header .navbar-brand h6 {
  color: #eee;
}
footer p {
  border-top: 1px solid #f0f0f0;
  padding: 10px 20px;
}
