.container
	.jumbotron
		h1 MultiVision
		p Lebowski ipsum do you have any kalhua? My point, Dude, is why should we settle for twenty grand when we can keep the entire million. Am I wrong?
	.row
		.col-xs-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-xs-6
			div(ng-include="'/partials/main/new-courses'")